.footerLayout {
  color: #C7BCA1;
  background-color: #F5F5F5;
  height: 35vh;
  font-size: 16px;
}
.abc{
  display: flex;
  justify-content: space-between;
  align-items: top;
  font-size: 12px;
  height: 13vh;
}
.credit-cards img{
  width:30%;
}

